<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
This home page is showing how many users are stored in db, and all users
{% if display %}
<div>there is/are {{message}} users stored in db <br> they are {{user}}</div>
{% else %}
<div>{{message}}</div>
{% endif %}

<!--<h>further actions for users</h>-->
<!--<ol>-->
    <!--to create a user-->
<!--<li>-->
    <!--<form action='' method="post">-->
        <!--Person first name:-->
        <!--<input type="text" name="firstname">-->
        <!--Last name:-->
        <!--<input type="text" name="lastname">-->
        <!--<input type="submit" value="Submit"/>-->
    <!--</form>-->
<!--</li>-->

<!--</ol>-->
</body>
</html>